<p id="notice"><%= notice %></p>

<h1>Listing Invites</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @current_user.group_invites.each do |invite| %>
      <% @sender = User.find(invite.sender_id) %>
      <tr>
        <td><%= @sender.first_name + " " + @sender.last_name %></td>
        <td><%= link_to 'Accept', add_group_member_path(:id => invite.group_id, :user_id => invite.user_id), method: :put %></td>
        <td><%= link_to 'Decline', invite, method: :delete %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
