<%= stylesheet_link_tag 'users' %>
<div class="userfaq">
<ul>
  <br>
  <li>
    <p>Keep track of your chores</p>
  </li>
    <li>
    <p>Get assigned new chores automatically</p>
  </li>
  <li>
    <p>Earn rewards for a job well done</p>
  </li>
  <li>
    <p>Maintain a clean household!</p>
  </li>
  <br>
  <br>
  <br>
</ul>
</div>