// Place all the styles related to the Chores controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

//CHORE LIST VAR
$medium-gray:                #DDDDDD !default;
$medium-dark-gray:           #AAAAAA !default;

$none:                       0   !default;
$border-thin:                1px !default;
$border-thick:               2px !default;

$white-color:                #FFFFFF !default;
$white-bg:                   #FFFFFF !default;

$smoke-bg:                   #F5F5F5 !default;

$black-bg:                   rgba(30,30,30,.97) !default;

$black-color:                #333333 !default;
$black-hr:                   #444444 !default;

$transparent-bg:             transparent !default;

$default-color:              #888888 !default;
$default-bg:                 #888888 !default;
$default-states-color:       #777777 !default; 

$primary-color:              #3472F7 !default;
$primary-bg:                 #3472F7 !default;
$primary-states-color:       #1D62F0 !default;

$success-color:              #87CB16 !default;
$success-bg:                 #87CB16 !default;
$success-states-color:       #049F0C !default; 

$info-color:                 #1DC7EA !default;
$info-bg:                    #1DC7EA !default;
$info-states-color:          lighten($info-color, 8%) !default;

$warning-color:              #FF9500 !default;
$warning-bg:                 #FF9500 !default;
$warning-states-color:       #ED8D00 !default;


$danger-color:               #FF4A55 !default;
$danger-bg:                  #FF4A55 !default;
$danger-states-color:        #EE2D20 !default;



$link-disabled-color:        #666666 !default;


/*      light colors         */
$light-blue:                 rgba($primary-color, .2);
$light-azure:                rgba($info-color, .2);
$light-green:                rgba($success-color, .2);
$light-orange:               rgba($warning-color, .2);
$light-red:                  rgba($danger-color, .2); 


//== Components
//

$padding-base-vertical:         8px !default;
$padding-base-horizontal:      16px !default;

$padding-round-vertical:        9px !default;
$padding-round-horizontal:     18px !default;

$padding-simple-vertical:      10px !default;
$padding-simple-horizontal:    18px !default;

$padding-large-vertical:       14px !default;
$padding-large-horizontal:     30px !default;

$padding-small-vertical:        5px !default;
$padding-small-horizontal:     10px !default;

$padding-xs-vertical:           1px !default;
$padding-xs-horizontal:         5px !default;

$padding-label-vertical:        2px !default;
$padding-label-horizontal:     12px !default;

$margin-large-vertical:        30px !default;
$margin-base-vertical:         15px !default;

$padding-zero:                   0px !default;

$margin-bottom:                0 0 10px 0 !default;
$border-radius-small:           3px !default;
$border-radius-base:            4px !default;
$border-radius-large:           6px !default;
$border-radius-extreme:        10px !default;

$border-radius-large-top:      $border-radius-large $border-radius-large 0 0 !default;
$border-radius-large-bottom:   0 0 $border-radius-large $border-radius-large !default;

$btn-round-radius:             30px !default;

$height-base:                  40px !default;

$font-size-base:               14px !default;
$font-size-small:              12px !default;
$font-size-medium:             16px !default; 
$font-size-large:              18px !default;
$font-size-large-navbar:       20px !default;

$font-size-h1:                 52px !default;
$font-size-h2:                 36px !default;
$font-size-h3:                 28px !default;
$font-size-h4:                 22px !default;
$font-size-h5:                 16px !default;
$font-size-h6:                 14px !default;
$font-paragraph:               16px !default;
$font-size-navbar:             16px !default;
$font-size-small:              12px !default;

$font-weight-light:          300 !default; 
$font-weight-normal:         400 !default;
$font-weight-semi:           500 !default;
$font-weight-bold:           600 !default;

$line-height-general:          1.5 !default;
$line-height:                 20px !default;
$line-height-lg:              54px !default;

$sidebar-width:               calc(100% - 260px) !default;


$border-radius-top:        10px 10px 0 0 !default;
$border-radius-bottom:     0 0 10px 10px !default;

$dropdown-shadow:          1px 2px 3px rgba(0, 0, 0, 0.125);

$general-transition-time:  300ms !default;

$slow-transition-time:           370ms !default; 
$dropdown-coordinates:      29px -50px !default;

$fast-transition-time:           150ms !default;

$ultra-fast-transition-time:     100ms  !default;

$select-coordinates:         50% -40px !default;

$transition-linear:                                   linear !default;
$transition-bezier:         cubic-bezier(0.34, 1.61, 0.7, 1) !default;
$transition-ease:           ease 0s;
$transition-ease-in:              ease-in !default;
$transition-ease-out:             ease-out !default;


$navbar-padding-a:               10px 15px;
$navbar-margin-a:                10px  3px;

$padding-social-a:               10px  5px;

$navbar-margin-a-btn:            15px 3px;
$navbar-margin-a-btn-round:      16px 3px;

$navbar-padding-a-icons:         6px 15px;
$navbar-margin-a-icons:          6px  3px;

$navbar-padding-brand:           15px 15px;
$navbar-margin-brand:             5px  0px;

$navbar-margin-brand-icons:      12px auto;

$navbar-margin-btn:              15px  3px;

$height-icon:					 64px !default;
$width-icon:					 64px !default;
$padding-icon:					 12px !default;
$border-radius-icon:		     15px !default;

$size-icon: 					 64px;
$size-icon-sm: 					 32px;


$height-icon-sm:				 32px;
$width-icon-sm:					 32px;
$padding-icon-sm:			     4px;
$border-radius-icon-sm:			 7px;

$height-icon-message:			 40px;
$width-icon-message:			 40px;

$height-icon-message-sm: 		 20px;
$width-icon-message-sm:			 20px;

$default-color-top:	#d9d9d9 !default;
$default-color-bottom: #909297 !default;

$blue-color-top: 		            #4087ea;
$blue-color-bottom: 	            #533ce1;

$azure-color-top:   	            #45c0fd;
$azure-color-bottom:            	#4091ff;

$green-color-top: 	                #a1eb3a;
$green-color-bottom: 	            #6dc030;

$orange-color-top: 	                #ffb33b;
$orange-color-bottom: 	            #ff5221;

$red-color-top: 	                #ff3b30;
$red-color-bottom: 	                #bb0502;

$purple-color-top: 	                #df55e1;
$purple-color-bottom: 	            #943bea;

$pink-color-top: 		            #ff2a63;
$pink-color-bottom: 	            #ff2e2e;

$black-color-top:	 	            #787878;
$black-color-bottom: 	            #343434;

$social-facebook: 			#3b5998;
$social-twitter: 			#55acee;
$social-pinterest: 			#cc2127;
$social-google: 			#dd4b39;
$social-linkedin: 			#0976b4;
$social-dribbble: 			#ea4c89;
$social-github: 			#333333;
$social-youtube: 			#e52d27;
$social-stumbleupon: 		#eb4924;
$social-reddit: 			#ff4500;
$social-tumblr: 			#35465c;
$social-behance: 			#1769ff;


$filter-blue:         darken($primary-color, 10%);
$filter-azure:        darken($info-color, 10%);
$filter-green:        darken($success-color, 10%);
$filter-orange:       darken($warning-color, 10%);
$filter-red:          darken($danger-color, 10%);  


$new-blue:            #1DC7EA;
$new-purple:          #9368E9;
$new-red:             #FB404B;
$new-green:           #87CB16;
$new-orange:          #FFA534;
$new-dark-blue:       #1F77D0;
$new-black:           #5e5e5e;


$topbar-x:             topbar-x !default;
$topbar-back:          topbar-back !default;
$bottombar-x:          bottombar-x !default;
$bottombar-back:       bottombar-back !default;


$white-navbar:              rgba(#FFFFFF, .96);
$blue-navbar:               lighten($new-dark-blue, 10%);
$azure-navbar:              lighten($new-blue, 15%);
$green-navbar:              lighten($new-green, 10%);
$orange-navbar:             lighten($new-orange, 10%);
$red-navbar:                lighten($new-red, 10%);

//END CHORE LIST VAR


$dark-gray: #455a64;
$light-gray: #90a4ae;
$white: #eceff1;
$red: #ff5252;
$green: #69f0ae;
$white-border: 1px solid $white;

body {
  background: $dark-gray;
  color: $white;
  font: {
    family: 'Lato', sans-serif;
    weight: 300;
  }
}

h1 {
  font: 72px 'Oswald', Arial, sans-serif;
  margin: 50px 0;
  text-align: center;
}

.container {
  margin: 0 auto;
  width: 95%;
  @media (min-width: 600px) {
    width: 75%;
  }
  @media (min-width: 900px) {
    width: 65%;
  }
}

input {
  background: transparent;
  border: none {
    bottom: $white-border;
  }
  font-size: 24px;
  height: 50px;
  padding-bottom: 15px;
  &:focus {
    outline: 0;
  }
  @media (min-width: 900px) {
    font-size: 32px;
  }
}

.input-buttons {
  height: 50px;
  border-bottom: $white-border;
  padding: 0;
  i {
    padding: 0 12px;
    color: $white;
    float: right;
  }
  .fa-plus {
    border-right: $white-border;
  }
  @media (min-width: 600px) {
    .fa-trash-o:hover {
      color: $red;
    }
    .fa-plus:hover {
      color: #69f0ae;
    }
  }
}

.error {
  color: $red;
  display: none;
  font-size: 16px;
  margin-top: 20px;
  text-align: center;
  .fa-times{
    color: $white;
    padding: 5px 15px;
    float: right;
    &:hover {
      color: #fafafa;
    }
  }
  p {
    margin: 20px 0;
    @media (min-width: 600px ){
      font-size: 20px;
    }
  }
}

.todo-list{
  padding: 0;
  margin: 20px 0 50px;
  .todo {
    background: $white;
    border-bottom: 1px dotted $dark-gray;
    color: $dark-gray;
    font-size: 20px;
    list-style: none;
    padding: 20px 130px 20px 15px;
    position: relative;
    white-space: normal;
  }
}

span {
  position: absolute;
  top: 15px;
  right: 0;
  a {
    color: $dark-gray;
  }
  i{
    padding: 10px 15px;
  }
  .fa-check {
    border-right: 1px solid $dark-gray;
    &:hover {
      color: $green;
    }
  }
  .fa-trash-o:hover {
    color: $red;
  }
}

.complete {
  color: $light-gray;
  text-decoration: line-through;
  .check {
    color: $green;
  }
}

/* Chore List */
/*      Checkbox and radio         */
/*      Checkbox and radio         */
.checkbox,
.radio {
  margin-bottom: 12px;
  padding-left: 32px;
  position: relative;
  -webkit-transition: color 0.25s linear;
  transition: color 0.25s linear;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.5;
  color: #333333;
}
.checkbox input,
.radio input {
  outline: none !important;
  display: none;
}
.checkbox .icons,
.radio .icons {
  color: $medium-gray;
  display: block;
  height: 20px;
  left: 0;
  position: absolute;
  top: 0;
  width: 20px;
  text-align: center;
  line-height: 21px;
  font-size: 20px;
  cursor: pointer;
  -webkit-transition: color 0.2s linear;
  transition: color 0.2s linear;
}


.checkbox .icons .first-icon,
.radio .icons .first-icon,
.checkbox .icons .second-icon,
.radio .icons .second-icon {
  display: inline-table;
  position: absolute;
  left: 0;
  top: 0;
  background-color: transparent;
  margin: 0;
  opacity: 1;
}
.checkbox .icons .second-icon,
.radio .icons .second-icon {
  opacity: 0;
}
.checkbox:hover,
.radio:hover {
  -webkit-transition: color 0.2s linear;
  transition: color 0.2s linear;
}
.checkbox:hover .first-icon,
.radio:hover .first-icon {
 opacity: 0;
}
.checkbox:hover .second-icon,
.radio:hover .second-icon {
 opacity: 1;
}
.checkbox.checked,
.radio.checked {
  color: $info-color;
}
.checkbox.checked .first-icon,
.radio.checked .first-icon {
  opacity: 0;
  filter: alpha(opacity=0);
}
.checkbox.checked .second-icon,
.radio.checked .second-icon {
  opacity: 1;
  filter: alpha(opacity=100);
  color: $info-color;
  -webkit-transition: color 0.2s linear;
  transition: color 0.2s linear;
}
.checkbox.disabled,
.radio.disabled {
  cursor: default;
  color: $medium-gray !important;
}
.checkbox.disabled .icons,
.radio.disabled .icons {
  color: $medium-gray !important;
}
.checkbox.disabled .first-icon,
.radio.disabled .first-icon {
  opacity: 1;
  filter: alpha(opacity=100);
}
.checkbox.disabled .second-icon,
.radio.disabled .second-icon {
  opacity: 0;
  filter: alpha(opacity=0);
}
.checkbox.disabled.checked .icons,
.radio.disabled.checked .icons {
  color: $medium-gray;
}
.checkbox.disabled.checked .first-icon,
.radio.disabled.checked .first-icon {
  opacity: 0;
  filter: alpha(opacity=0);
}
.checkbox.disabled.checked .second-icon,
.radio.disabled.checked .second-icon {
  opacity: 1;
  filter: alpha(opacity=100);
  color: #D9D9D9;
}



/* ============================================================
 * bootstrapSwitch v1.3 by Larentis Mattia @spiritualGuru
 * http://www.larentis.eu/switch/
 * ============================================================
 * Licensed under the Apache License, Version 2.0
 * http://www.apache.org/licenses/LICENSE-2.0
 * ============================================================ */
.has-switch {
    border-radius: 30px;
    cursor: pointer;
    display: inline-block;
    line-height: 1.72222;
    overflow: hidden;
    position: relative;
    text-align: left;
    width: 60px;    
 
   -webkit-user-select: none;  
   -moz-user-select: none;
   -ms-user-select: none;
   -o-user-select: none;
   user-select: none;
     
    /*   this code is for fixing safari bug with hidden overflow for border-radius   */
    -webkit-mask: url('../img/mask.png') 0 0 no-repeat;
    -webkit-mask-size: 60px 24px;
    mask: url('../img/mask.png') 0 0 no-repeat;
}
.has-switch.deactivate {
  opacity: 0.5;
  filter: alpha(opacity=50);
  cursor: default !important;
}
.has-switch.deactivate label,
.has-switch.deactivate span {
  cursor: default !important;
}
.has-switch > div {
   position: relative;
   top: 0;
   width: 100px;
}
.has-switch > div.switch-animate {
  -webkit-transition: left 0.25s ease-out;
  transition: left 0.25s ease-out;
}
.has-switch > div.switch-off {
  left: -35px;
}

.has-switch > div.switch-on {
  left: 0;
}
.has-switch > div label {
  background-color: #FFFFFF;
  icon-gradient: (rgba(255,255,255,1), rgba(241,241,242,1));
  
  box-shadow: 0 1px 1px #FFFFFF inset, 0 1px 1px rgba(0, 0, 0, 0.25);
  cursor: pointer;
}
.has-switch input[type=checkbox] {
  display: none;
}
.has-switch span {
/*     box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2) inset; */
    cursor: pointer;
    float: left;
    font-size: 11px;
    font-weight: 400;
    height: 24px;
    line-height: 15px;
    margin: 0;
    padding-bottom: 6px;
    padding-top: 5px;
    position: relative;
    text-align: center;
    text-indent: -10px;
    width: 50%;
    z-index: 1;
  -webkit-transition: 0.25s ease-out;
  transition: 0.25s ease-out;
}
.has-switch span.switch-left {
    background-color: $info-color;
    border-left: 1px solid rgba(0, 0, 0, 0);
    border-radius: 30px 0 0 30px;
    color: #FFFFFF;
}
.has-switch .switch-off span.switch-left{
    background-color: $medium-gray;
}
.has-switch span.switch-right {
  border-radius: 0 30px 30px 0;
  background-color: $info-color;
  color: #ffffff;
  text-indent: 1px;
}
.has-switch .switch-off span.switch-right{
    background-color: $medium-gray;
}

.has-switch label {
    border-radius: 12px;
    float: left;
    height: 22px;
    margin: 1px -13px;
    padding: 0;
    position: relative;
    transition: all 0.25s ease-out 0s;
    vertical-align: middle;
    width: 22px;
    z-index: 100;
  -webkit-transition: 0.25s ease-out;
  transition: 0.25s ease-out;
}
.has-switch .switch-on .fa-check:before{
    margin-left: 10px;
}
.has-switch:hover .switch-on label{
    margin: 1px -17px;
    width: 26px;
}
.has-switch:hover .switch-off label{
    margin: 1px -13px;
    width: 26px;
}
/* Chore List END */