


body {
  font: 1.4em sans-serif;

  margin:0 1em;
}

.userfaq {
    color: black;
  -webkit-text-fill-color: transparent;
  background: -webkit-linear-gradient(transparent, transparent),
             url(darkwood.jpg) repeat;
  background: -o-linear-gradient(transparent, transparent);
  -webkit-background-clip: text;
  text-align: left;
  margin-left: 20px;
}
/*
 * This style will be shared with the SVG because
 * I have to replace the DOM element in Firefox. 
 * Otherwise the SVG pattern will be broken.
 */
.headline {
  font: bold 2.25em sans-serif;
}
svg {
  height: 8em;
  width: 100%;
}
/*
 * Just some styling... ignore it
 */
article {
  font-size:1.2em;
  border-top:.15em solid #7BB03B;
  height:100%;
  text-align:center;
}
a {
  text-decoration:none;
  color:#5794C7;
  transition:color .15s ease-in-out;
  
  &:hover {
    color:#7BB03B;
  }
}
